body, html {
	height: 100%;
}
body {
	background-color: black;
	font-family: 'Anton', sans-serif;
	font-size: 16px;
}
.container {
	margin: 0px auto;
}
.col-lg-12 {
	text-align: center;

}
h1 {
	font-family: 'Anton', sans-serif;
	font-size: 50px;
	color: white;
	text-decoration: underline;
    text-decoration-color: orangered;
}
.item {
	
	margin: 10px;
	margin-bottom: 40px;
}
img {
	width: 200px;
	height: 150px;
}
p {
	margin-top: 5px;
	text-align: center;
	font-size: 16px;
	color: white;
	text-decoration: underline;
    text-decoration-color: orangered;
}
.btn {
	background-color: orangered;
	color: white;
    margin: 5px;
    font-size: 20px;
}
.form-control{
	margin-top: 5px;
	background-color: orangered;
	color: white;
}
h3{
	margin-left: 10px;
    color: white;
}
#animal-form {
	text-align: center;
}
#animals {
	
}
.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: orangered;
	color: white;
	text-align: center
}
